.header-tittle {
	background-color: #95ae00;
	color: white;
	text-align: center;
	padding: 5px 0 5px;
	margin-top: -20px;
	margin-bottom: 56px;
	font-weight: bold;
	margin-left: -15px;
	margin-right: -15px;
}


//.zonazipp-image-mask{
//	width: 100%;
//	height: 200px;
//	overflow: hidden;
//}
