
<div class="begin-page" [@routerTransition]>
    <div class="alert alert-success" *ngIf="status == 'success'">
        PERFECTO... Sus datos fueron Fueron Validados!!
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Los datos que ingresaste no corresponden a ninguno de nuestros usuarios registrados. Por favor validalos e intentalo de nuevo.
    </div>
    <div class="alert alert-success" *ngIf="status == 'confirm'">
        Cambio de contraseña correcto!!, ahora puede ingresar con su documento y nueva contraseña desde <a class="btn intro-1" style="color: firebrick" [routerLink]="['/login']"><u>aqui</u></a> 
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error2'">
      Las contraseñas no son iguales, verifiquelas e intentelo nuevamente.
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error3'">
        Lo sentimos! ocurrio un problema durante la actualizacion de la contraseña. intentalo nuevamente en un momento 
    </div>
    <section class="beginPadre" *ngIf="test==false">
      <div class="form-content" align="center">
        <div style="height: 150px; width: 120px;">
          <img class="logo-zipp2" src="assets/images/logo-zipp2.png" alt="..."> 
        </div>
	      <div style="width: 100%;">
          <h3>Por lo visto ha olvidado su contraseña y desea recuperarla.</h3>
            <p>a continuacion debe ingresar los siguientes datos, </p>
            <p>con ellos verificaremos su identidad</p>
        </div>
        
        
        <form #rememberForm="ngForm" align="center">
          <div class="form-content">
          
 
          <div class="form-group" align="center">
            <input type="text" class="form-control input-underline input-lg" style="width: 280px;" name="cedula" #cedula="ngModel" [(ngModel)]="user.cedula" maxlength="10" onkeypress="return justNumbers(event);" placeholder="Documento de identidad"  required />
            <label for="pass" class="animated-label">Documento</label>
            
          </div>

          <div class="form-group" align="center">
            <input type="text" class="form-control input-underline input-lg" style="width: 280px;" name="celular" #celular="ngModel" [(ngModel)]="user.celular" onkeypress="return justNumbers(event);" placeholder="Celular" required />
            <label for="pass" class="animated-label">Celular</label>  
            
          </div>

          <div class="form-group" align="center">
            <input type="email" class="form-control input-underline input-lg" style="width: 280px;" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email" required />
            <label for="pass" class="animated-label">Correo Electronico</label>  
            
          </div>
        </div>
        <input type="submit" value="VALIDAR DATOS" class="btn rounded-btn" (click)="verificar()"/>
     </form>
     </div>
    </section>

    <section class="beginPadre2" *ngIf="test==true">
      <div class="form-content" align="center">
        <div style="height: 150px; width: 120px;">
          <img class="logo-zipp2" src="assets/images/logo-zipp2.png" alt="..."> 
        </div>
	      <div style="width: 100%;">
          <h3>Su informacion fue validada {{user.name}}</h3>
            <p>a continuacion debe ingresar su nueva contraseña. </p>
        </div>
        
        
        <form #rememberForm="ngForm" align="center">
          <div class="form-content">
          
 
          <div class="form-group" align="center">
            <label for="pass" class="animated-label">Nueva Contraseña</label>
            <input type="{{type}}" class="form-control input-underline input-lg" style="width: 280px;" name="newp" #newp="ngModel" [(ngModel)]="nc" maxlength="10" placeholder="Nueva contraseña"  required />
           </div>

          <div class="form-group" align="center">
            <label for="pass" class="animated-label">Repita su Nueva Contraseña</label>  
            <input type="{{type}}" class="form-control input-underline input-lg" style="width: 280px;" name="newpr" #newpr="ngModel" [(ngModel)]="ncr" placeholder="Nueva Contraseña" required />
            <span class="input-group-addon" id="sizing-addon1" style="width: 70px;"(click)="toggleShow()">
                <a style="color: white;" *ngIf="type == 'password'">Mostrar Contraseñas</a>   
                <a style="color: white;" *ngIf="type == 'text'">Ocultar Contraseñas</a>     
              </span> 
            
          </div>

        </div>
        <input type="submit" value="CAMBIAR CONTRASEÑA"   class="btn rounded-btn" (click)="modificar()"/>
     </form>
     </div>
    </section>
    <section style="width: 100%; align-content: center; background-color: #95ae00">
        <a href="https://www.facebook.com/zippoficial">
          <img  src="assets/images/fb.png" 
                style="height: 50px;
                       padding-left: 10px;
                       padding-right: 10px"> 
        </a>
        <a href="https://www.instagram.com/zippoficial">
          <img  src="assets/images/instagram.png" 
                style="height: 50px;
                       padding-left: 10px;
                       padding-right: 10px" >
        </a>
        <a href="tel:+573052902853">
          <img  src="assets/images/wzp.png" 
                style="height: 50px;
                       padding-left: 10px;
                       padding-right: 10px">
        </a>
    </section> 
  <section style="width: 100%; align-content: center; background-color: white">
    <img src="assets/images/fonemp.png" 
         style="height: 40px"> 
    <img src="assets/images/finade.png" 
         style="height: 40px" >
      
    <img src="assets/images/sena.png" 
         style="height: 40px">
    <img src="assets/images/colombia.png" 
         style="height: 40px">   
  </section>  
    
        
    
  
</div>

