<div class="row" [@routerTransition] *ngIf="identity" style="padding-top: 0px">
	<section class="col-md-10">
		<div class="form-content" align="center">
			<div class="logo" >
				<img class="logo-zipp2" src="assets/images/logo-zipp2.png" alt="..." style="zoom: 0.42">
			</div>
			<div class="caption" align="center">
				<h3>¿Cómo saber si tengo una Zona ZIPP?</h3>
				<p>Puedes aportar a la movilidad de tu barrio, habilitando cuántas ZIPP puedas, como 
					accesos externos de garaje para carros y motos de manera automatizada y/o
					espacios internos de tu casa para bicicletas, patinetas. </p>
				<p> ¡BUSCAMOS ESPACIOS PARA ACTIVAR ZONA ZIPP, COMUNÍCATE!</p>
				<br>
				<input type="button" value="REGISTRA TU ZONA" class="btn rounded-btn" [routerLink]="['/admin-panel/admin-zonas-zipp/list']" />
				
				<img class="proximamente" src="assets/images/proximamente.png" alt="...">
					
			</div>
			<div class="apoyann" align="right">
					<img class="apoyan" src="assets/images/apoyan.png">
			</div>
		</div>
		
	</section>

	
</div>
	




