<div class="header-tittle">
		<h1>{{tittle}}</h1>
</div>
<div class="container" [@routerTransition]>
	<div class="col-md-12">
		<h3>1. Relación contractual</h3>
		<p>Las presentes Condiciones de uso y vinculación regulan el acceso o uso que usted haga,
		como persona de nuestras aplicaciones, páginas web, contenido, productos y servicios (los
		“Servicios”) puestos a disposición por F5 TECNOLOGIA S.A.S. al que llamaremos en
		adelante ZIPP una sociedad Anónima Simple constituida en Colombia, con domicilio social
		en Calle 64a - 51-20 Oficina 706 Manizales - Colombia, inscrita en la Cámara de Comercio
		de Manizales Con el Nit. 900316858-4
		</p>

		<p>LEA ESTAS CONDICIONES DETENIDAMENTE ANTES DE ACCEDER O USAR LOS SERVICIOS.</p>

		<p>Mediante su acceso y uso de los Servicios usted acuerda vincularse jurídicamente por estas Condiciones, que establecen una relación contractual entre usted y ZIPP. Si usted no
		acepta estas Condiciones, no podrá acceder o usar los Servicios. Estas Condiciones
		sustituyen expresamente los acuerdos o compromisos previos con usted. ZIPP podrá poner
		fin de inmediato a estas Condiciones o cualquiera de los Servicios respecto de usted o, en
		general, dejar de ofrecer o denegar el acceso a los Servicios o cualquier parte de ellos, en cualquier momento y por cualquier motivo.
		</p>

		<p>
			Se podrán aplicarse condiciones suplementarias a determinados Servicios, como políticas
		para un evento, una actividad o una promoción particular, y dichas condiciones
		suplementarias se le comunicarán en relación con los Servicios aplicables. Las condiciones
		suplementarias se establecen además de las Condiciones, y se considerarán una parte de
		estas, para los fines de los Servicios aplicables. Las condiciones suplementarias
		prevalecerán sobre las Condiciones en el caso de conflicto con respecto a los Servicios
		aplicables.
		<br>
		<br>
		ZIPP podrá modificar las Condiciones relativas a los Servicios cuando lo considere
		oportuno. Las modificaciones serán efectivas después de la publicación por parte de ZIPP
		de dichas Condiciones actualizadas en esta ubicación o las políticas modificadas o
		condiciones suplementarias sobre el Servicio aplicable. Su acceso o uso continuado de los
		Servicios después de dicha publicación constituye su consentimiento a vincularse por las
		Condiciones y sus modificaciones. La recopilación y el uso que hacemos de la información
		personal en relación con los Servicios es conforme se dispone en la Política de privacidad
		de ZIPP, disponible en POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES. ZIPP podrá
		facilitar a un procesador de reclamaciones o a una aseguradora cualquier información
		necesaria (incluida su información de contacto) si hubiera quejas, disputas o conflictos, que
		pudieran incluir un accidente, implicándole a usted y a un tercero (incluido el prestador
		particular de servicios de parqueo o conductor de vehículo y dicha información o dichos
		datos fueran necesarios para resolver la queja, la disputa o el conflicto.
		</p>
	</div>	
	

	<div class="col-md-12">
		<hr>
		<h3>2. Los Servicios</h3>
		<p>
			Los Servicios constituyen una plataforma de tecnología que permite a los usuarios de
		aplicaciones móviles de ZIPP o páginas web proporcionadas como parte de los Servicios
		(cada una, una “Aplicación”) Conecta a los conductores de Vehículos con lugares de
		permitido parqueo llamadas Zonas ZIPP y servicios de logística con terceros proveedores
		independientes de dichos servicios, incluidos terceros prestadores particulares
		independientes de servicios de parqueo y terceros proveedores logísticos independientes,
		conforme a un acuerdo con ZIPP o algunos afiliados de ZIPP (“Terceros proveedores”). A no
		ser que ZIPP lo acepte mediante un contrato separado por escrito con usted, los Servicios
		se ponen a disposición solo para su uso personal, no comercial. USTED RECONOCE QUE
		ZIPP NO PRESTA SERVICIOS DE PARQUEO DE NINGÚN TIPO O DE LOGÍSTICA O FUNCIONA
		COMO UNA EMPRESA DE PARQUEO Y QUE DICHOS SERVICIOS DE PARQUEO O
		LOGÍSTICA SE PRESTAN POR TERCEROS PRESTADORES PARTICULARES INDEPENDIENTES,
		QUE NO ESTÁN EMPLEADOS POR ZIPP NI POR NINGUNO DE SUS AFILIADOS.

		<br>
		<br>

		Cualquiera de los usuarios reconoce y declara que accede a PUBLICAR, OFRECER y TOMAR,
		cualquiera de los servicios ofrecidos por ZIPP de ESPACIOS de parqueadero por intermedio
		de ZIPP, y que ante el eventual acuerdo entre las partes y la contratación de
		dicho servicio, lo efectúa por su propia cuenta y riesgo, y que en consecuencia, ZIPP
		tomará las acciones legales pertinentes y no se responsabilizará por ninguno de los
		causales enumerados a continuación:

		<br>
		<br>

		1) Cualquier tipo de Errores, omisiones, inexactitudes o falsedades en los contenidos
		publicados por el resto de los Usuarios de la comunidad, tanto en sus perfiles como en
		sus ofertas de ESPACIOS de parqueadero o publicaciones de ESPACIOS de parqueadero.
		<br>2) Cualquier daño o perjuicio ocurrido en el ESPACIO de parqueadero a alguna de las
		partes. <br>3) Cualquier virus que pudiera infectar el equipo del Usuario producto del acceso
		y/o utilización de ZIPP los Usuarios comprenden que el uso de la plataforma ZIPP está
		sujeto a su propio riesgo. Producto de lo anterior, si el uso de ZIPP deriva en que el
		Usuario deba incurrir en reparaciones y/o correcciones, contratando algún servicio de
		arreglo de sus equipos y/o dispositivos electrónicos, estos costosdeberán ser
		asumidos por los mismos usuarios, sin tener ZIPP responsabilidad alguna sobre este
		suceso. ZIPP EXCLUYE CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y
		PERJUICIOS DE CUALQUIER NATURALEZA QUE PUEDAN DERIVARSE A LAPRESENCIA
		DE VIRUS U OTROS ELEMENTOS INFORMÁTICOS QUE PUDIERAN PRODUCIR
		ALTERACIONES EN LOS SISTEMAS, DOCUMENTOS ELECTRÓNICOS Y/O CUENTAS Y
		PERFILES DE LOS USUARIOS. <br>4) Acerca de la disponibilidad y continuidad del servicio y
		soporte del sitio, ZIPP declara que el sistema puedeeventualmente no encontrarse
		disponible debido a dificultades técnicas, fallas de Internet o razones ajenas a ZIPP, por lo que el Usuario comprenderá que ZIPP no garantiza el acceso continuo ininterrumpido de su
		servicio y/o de las secciones que del mismo se deriven. En caso de cualquier
		interrupción del servicio, ZIPP hará su mejor esfuerzo por restablecerlo, junto con sus
		servicios a la mayor brevedad posible, sin que de ello pudiera derivarse ningún tipo de
		obligación ni responsabilidad para ZIPP con alguno de los usuarios de su comunidad. <br>5)
		ZIPP ofrecerá el monitoreo permanente sobre los servicios de ZIPP, las interacciones de
		su comunidad y sobre los contenidos e información ingresados por los Usuarios de esta
		comunidad, entre otro tipo de acciones que puedan realizar los Usuarios y que queden
		registradas y guardadas en la plataforma. Dentro de estos términos y condiciones de uso,
		el Usuario comprende y acepta que ZIPP tiene el derecho de monitorear el ZIPP de
		manera electrónica, en forma aleatoria, y hacer seguimiento a cualquier información y/o
		conductas sospechosas de los Usuarios, según el propio criterio de ZIPP y al servicio de la
		ley de ser necesario y/o regulaciones de ley, para asegurar la correcta operación de ZIPP
		y/o para protegerse a sí mismo y a otros Usuarios de ZIPP, respecto de conductas que
		podrían ser fraudulentas y/o que atenten contra los derechos de los Usuarios y/o su
		comunidad. <br>6) Para el caso de conductas fraudulentas, de acoso, denigratorias,
		difamatorias, discriminatorias, amenazantes,inmorales, obscenas, pornográficas u
		ofensivas en que incurra cualquier tipo Usuario y la comunidad en sus perfiles o
		publicaciones, ZIPP llevará a cabo las acciones legales pertinentes que tengan lugar
		para defender la integridad y el bienestar de su plataforma y su comunidad. <br>7) ZIPP llevará
		a cabo también las acciones legales pertinentes y que tengan lugar sobre las Infracciones a
		leyes de propiedad intelectual llevadas a cabo por cualquiera de los usuarios de ZIPP,
		que hayan publicado o transmitido material de terceros que se encuentran resguardados
		por las leyes. <br>8) ZIPP también llevará a cabo las acciones legales pertinentes y que tengan
		lugar para la suplantación de identidad, o cuando algún usuario utilice datos personales de
		terceros para crear cuentas en ZIPP, y PUBLICAR, OFRECER y TOMAR ESPACIOS a través
		de ZIPP. ZIPP se Reserva el derecho de verificar cualquier cuenta de manera aleatoria,
		verificando la veracidad de la información que se registra. En caso de detectar fraude
		o incoherencia en la veracidad de la información, ZIPP podrá cancelar la cuenta y
		entregar los antecedentes a la justicia y a las autoridades competentes de la República de
		Colombia, especialmente en casos en que se haya producido un real daño o que denote
		intención de daño a terceros.

		<br>
		<br>

		<strong>Restricciones.</strong> 
		<br> 
	Usted no podrá: (i) retirar cualquier nota de derechos de autor, marca registrada u otra
	nota de propiedad de cualquier parte de los Servicios; (ii) reproducir, modificar, preparar
	obras derivadas sobre los Servicios, distribuir, licenciar, arrendar, revender, transferir,
	exhibir públicamente, presentar públicamente, transmitir, retransmitir o explotar de otra
	forma los Servicios, excepto como se permita expresamente por ZIPP; (iii) descompilar,
	realizar ingeniería inversa o desmontar los Servicios, excepto como se permita por la ley
	aplicable; (iv) enlazar, reflejar o enmarcar cualquier parte de los Servicios; (v) causar o
	lanzar cualquier programa o script con el objeto de extraer, indexar, analizar o de otro
	modo realizar prospección de datos de cualquier parte de los Servicios o sobrecargar o
	bloquear indebidamente la operación y/o funcionalidad de cualquier aspecto de los
	Servicios; o (vi) intentar obtener un acceso no autorizado o dañar cualquier aspecto de los
	Servicios o sus sistemas o redes relacionados.

		<br>
		<br>

		<strong>Prestación de los Servicios.</strong> 
		<br>
		Usted reconoce que partes de los Servicios podrán ponerse a disposición bajo varias
	marcas u opciones de pedidos de ZIPP asociadas con el parqueo privado, particulares o los
	servicios logísticos, (i) ciertas subsidiarias o afiliados de ZIPP o (ii) Terceros proveedores
	independientes, incluidos parqueaderos publicos, particulares, titulares del permiso de
	carta de parqueo o titulares de permisos, autorizaciones.

		<br>
		<br>

		<strong>Servicios y contenido de Terceros.</strong> 
		<br>
		Los Servicios podrán ponerse a disposición o ser accesible en relación con servicios y
	contenido de terceros (incluida la publicidad) que ZIPP no controle. Usted reconoce que
	podrán ser de aplicación diferentes condiciones y políticas de privacidad al uso que haga de
	dichos servicios y contenido de terceros. ZIPP no respalda dichos servicios y contenido de
	terceros y en ningún caso ZIPP será responsable de cualquier producto o servicio de dichos
	terceros proveedores. Adicionalmente, Apple Inc., Google, Inc., Microsoft Corporation y/o
	sus correspondientes subsidiarias o afiliados internacionales serán terceros beneficiarios en
	este contrato si usted accede a los Servicios utilizando Aplicaciones desarrolladas para
	dispositivos móviles con sistema iOS, Android, Microsoft Windows, respectivamente. Estos
	terceros beneficiarios no son parte de este contrato y no son responsables de la prestación
	o apoyo de los Servicios de ninguna manera. Su acceso a los Servicios utilizando estos
	dispositivos se sujeta a las condiciones establecidas en las condiciones de servicio de
	terceros beneficiarios aplicables.

		<br>
		<br>

		<strong>Titularidad.</strong> 
		<br>
		Los Servicios y todos los derechos relativos a estos son y permanecerán de la propiedad de
	ZIPP o de sus licenciantes. Ninguna de estas Condiciones ni su uso de los Servicios le
	transfieren u otorgan ningún derecho: (i) sobre o en relación con los Servicios, excepto en
	cuanto a la licencia limitada otorgada anteriormente; o bien (ii) a utilizar o mencionar en
	cualquier modo a los nombres de empresa, logotipos, nombres de producto y servicio,
	marcas comerciales o marcas de servicio de ZIPP o de sus licenciantes.
		</p>

		<br>
	</div>	

	<div class="col-md-12">
		<hr>
		<h3>3. Su uso de los Servicios</h3>
		<p>
			<strong>Cuentas de usuario.</strong> 
			<br>
			Con el fin de usar la mayor parte de los aspectos de los Servicios, usted debe registrarse y
		mantener activa una cuenta personal de usuario de los Servicios (“Cuenta”). Para obtener
		una Cuenta debe tener como mínimo 18 años, o tener la mayoría de edad legal en su
		jurisdicción (si es distinta a los 18 años). El registro de la cuenta le requiere que
		comunique a ZIPP determinada información personal, como su nombre, dirección, número
		de teléfono móvil, así como por lo menos un método de pago válido (bien una tarjeta de
		crédito o bien un socio de pago aceptado). Usted se compromete a mantener la
		información en su Cuenta de forma exacta, completa y actualizada. Si no mantiene la
		información de Cuenta de forma exacta, completa y actualizada, incluso el tener un método
		de pago inválido o que haya vencido, podrá resultar en su imposibilidad para acceder y
		utilizar los Servicios o en la resolución por parte de ZIPP de esta Condiciones. Usted es
		responsable de toda la actividad que ocurre en su Cuenta y se compromete a mantener en
		todo momento de forma segura y secreta el nombre de usuario y la contraseña de su
		Cuenta. A menos que ZIPP permita otra cosa por escrito, usted solo puede poseer una
		Cuenta.

			<br>
			<br>
			<strong>Requisitos y conducta del usuario.</strong> 
			<br>
			El Servicio no está disponible para el uso de personas menores de 18 años. Usted no podrá
	autorizar a terceros a utilizar su Cuenta, No podrá ceder o transferir de otro modo su
	Cuenta a cualquier otra persona o entidad. Usted acuerda cumplir con todas las leyes
	aplicables al utilizar los Servicios y solo podrá utilizar los Servicios con fines legítimos (p.
	ej., no para el PARQUEO de vehículos con materiales ilegales o peligrosos). En el uso de los
	Servicios, no causará estorbos, molestias, incomodidades o daños a la propiedad, tanto al
	Tercero proveedor como a cualquier otra parte. En algunos casos, se le podrá requerir que
	facilite un documento de identidad para el acceso o uso de los Servicios, y usted acepta
	que se le podrá denegar el acceso o uso de los Servicios si se niega a facilitar el documento
	de identidad.

			<br>
			<br>
			<strong>Me​nsajes de texto.</strong> 
			<br>
			Al crear una Cuenta, usted acepta que los Servicios le puedan enviar mensajes de texto
		informativos (SMS) como parte de la actividad comercial normal de su uso de los Servicios.
		Usted podrá solicitar la no recepción de mensajes de texto informativos (SMS) de ZIPP en
		cualquier momento enviando un correo electrónico a reservas@zipp.com.co indicando que
		no desea recibir más dichos mensajes, junto con el número de teléfono del dispositivo

		móvil que recibe los mensajes. Usted reconoce que solicitar la no recepción de mensajes de
		texto informativos (SMS) podrá afectar al uso que usted haga de los Servicios.

			<br>
			<br>
			<strong>Códigos promocionales.</strong> 
			<br>
			ZIPP podrá, a su sola discreción, crear códigos promocionales que podrán ser canjeados
	por crédito de Cuenta u otros elementos o beneficios relacionados con los Servicios y/o los
	servicios de un Tercero proveedor, con sujeción a cualquier condición adicional que ZIPP
	establezca sobre la base de cada código promocional (“Códigos promocionales”). Usted
	acuerda que los Códigos promocionales: (i) deben usarse para la audiencia y el propósito
	deseado, y de manera lícita; (ii) no podrán duplicarse, venderse o transferirse de ninguna
	manera, o ponerse a disposición del público general (tanto si se publican en un foro público
	como de otra forma), a menos que sea con el permiso de ZIPP; (iii) podrán ser invalidados
	por ZIPP en cualquier momento por cualquier motivo sin responsabilidad para ZIPP; (iv)
	podrán usarse solo conforme a las condiciones específicas que ZIPP establezca para dicho
	Código promocional; (v) no son válidos como efectivo; y (vi) podrán caducar antes de que
	usted los utilice. ZIPP se reserva el derecho de retener o deducir el crédito u otros
	elementos o beneficios obtenidos a través de la utilización de los Códigos promocionales
	por usted o cualquier otro usuario en el caso de que ZIPP determine o crea que el uso o el
	canje de los Códigos promocionales fue de modo erróneo, fraudulento, ilegal o infringiendo
	las condiciones del Código promocional o las presentes Condiciones.

			<br>
			<br>
			<strong>Contenido proporcionado por el Usuario.</strong> 
			<br>
			ZIPP podrá, a su sola discreción, permitirle cuando considere oportuno, que envíe, cargue,
	publique o de otro modo ponga a disposición de ZIPP a través de los Servicios contenido e
	información de texto, audio y/o visual, incluidos comentarios y opiniones relativos a los
	Servicios, iniciación de peticiones de apoyo, así como presentación de admisiones para
	competiciones y promociones (“Contenido de usuario”). Todo Contenido de usuario
	facilitado por usted seguirá siendo de su propiedad. No obstante, al proporcionar Contenido
	de usuario a ZIPP, usted otorga una licencia mundial, perpetua, irrevocable, transferible,
	libre de regalías, con derecho a sublicenciar, usar, copiar, modificar, crear obras derivadas,
	distribuir, exhibir públicamente, presentar públicamente o de otro modo explotar de
	cualquier manera dicho Contenido de usuario en todos los formatos y canales de
	distribución, conocidos ahora o ideados en un futuro (incluidos en relación con los Servicios
	y el negocio de ZIPP y en sitios y servicios de terceros), sin más aviso o consentimiento de
	usted y sin requerirse el pago a usted o a cualquier otra persona o entidad.
	Usted declara y garantiza que: (i) es el único y exclusivo propietario de todo el Contenido
	de usuario o que tiene todos los derechos, licencias, consentimientos y permisos necesarios
	para otorgar a ZIPP la licencia al Contenido de usuario como establecido anteriormente; y
	(ii) ni el Contenido de usuario ni su presentación, carga, publicación o puesta a disposición
	de otro modo de dicho Contenido de usuario, ni el uso por parte de ZIPP del Contenido de
	usuario como está aquí permitido, infringirán, malversarán o violarán la propiedad
	intelectual o los derechos de propiedad de un tercero o los derechos de publicidad o
	privacidad o resultarán en la violación de cualquier ley o reglamento aplicable.
	Usted acuerda no proporcionar Contenido de usuario que sea difamatorio, calumnioso,
	odioso, violento, obsceno, pornográfico, ilícito o de otro modo ofensivo, como determine
	Uber, a su sola discreción, tanto si dicho material pueda estar protegido o no por la ley.
	ZIPP podrá, a su sola discreción y en cualquier momento y por cualquier motivo, sin
	avisarle previamente, revisar, controlar o eliminar Contenido de usuario, pero sin estar
	obligada a ello.

			<br>
			<br>
			<strong>Acceso a la red y dispositivos.</strong> 
			<br>
			Usted es responsable de obtener el acceso a la red de datos necesario para utilizar los
	Servicios. Podrán aplicarse las tarifas y tasas de datos y mensajes de su red móvil si usted
	accede o utiliza los Servicios desde un dispositivo inalámbrico y usted será responsable de
	dichas tarifas y tasas. Usted es responsable de adquirir y actualizar el hardware compatible
	o los dispositivos necesarios para acceder y utilizar los Servicios y Aplicaciones y cualquier
	actualización de estos. ZIPP no garantiza que los Servicios, o cualquier parte de estos,
	funcionen en cualquier hardware o dispositivo particular. Además, los Servicios podrán ser
	objeto de disfunciones o retrasos inherentes al uso de Internet y de las comunicaciones
	electrónicas.

			<br>
			<br>
			<strong>Pago.</strong> 
			<br>

			Usted entiende que el uso de los Servicios puede derivar en cargos por los servicios o
		bienes que reciba de un Tercer proveedor (“Cargos”). Después de que haya recibido los
		servicios u obtenido los bienes mediante el uso de los Servicios, ZIPP facilitará su pago de
		los Cargos aplicables en nombre del Tercero proveedor como agente de cobro limitado del
		Tercero proveedor. El pago de los Cargos de dicha manera se considerará como el pago
		efectuado directamente por usted al Tercero proveedor. Los Cargos incluirán los impuestos
		aplicables cuando se requiera por ley. Los Cargos pagados por usted son definitivos y no
		reembolsables, a menos que ZIPP determine lo contrario. Usted conserva el derecho de
		solicitar Cargos más bajos de un Tercero proveedor para los servicios o bienes recibidos
		por usted de dicho Tercero proveedor en el momento en que reciba dichos servicios o
		bienes. ZIPP responderá en consecuencia a cualquier solicitud de un Tercero proveedor
		para modificar los Cargos por un servicio o bien en particular.
		Todos los Cargos son pagaderos inmediatamente y el pago se facilitará por ZIPP utilizando
		al método de pago preferido indicado en su Cuenta, y después de ello ZIPP le enviará un
		recibo por correo electrónico. Si se determina que el método de pago de su Cuenta
		principal ha caducado, es inválido o de otro modo no sirve para cobrarle, usted acepta que
		ZIPP, como agente de cobro limitado del Tercero proveedor, utilice un método de pago
		secundario en su Cuenta, si estuviera disponible.
		ZIPP, en cualquier momento y a su sola discreción, se reserva el derecho de establecer,
		eliminar y/o revisar los Cargos para alguno o todos los servicios o bienes obtenidos a
		través del uso de los Servicios. Además, usted reconoce y acepta que los Cargos aplicables
		en determinadas zonas geográficas podrán incrementar sustancialmente durante los
		periodos de alta demanda. ZIPP usará los esfuerzos razonables para informarle de los
		Cargos que podrán aplicarse, siempre y cuando usted sea responsable de los Cargos
		incurridos en su Cuenta, independientemente de que usted conozca dichos Cargos o los
		importes de estos. ZIPP podrá, cuando lo considere oportuno, proporcionar a determinados
		usuarios ofertas promocionales y descuentos que pueden resultar en el cobro de diferentes
		importes por estos o similares servicios o bienes obtenidos a través del uso de los
		Servicios, y usted acepta que dichas ofertas promocionales y descuentos, a menos que
		también se pongan a su disposición, no se tendrán en cuenta en el uso por su parte de los
		Servicios o los Cargos aplicados a usted. Usted podrá optar por cancelar su solicitud para
		los servicios o bienes de un Tercero proveedor en cualquier momento antes de la llegada a
		la zona de permitido parqueo de ese Tercero proveedor, en cuyo caso se le podrá cobrar
		una tasa de cancelación.
		Esta estructura de pago está destinada para compensar plenamente al Tercero proveedor
		por los servicios o bienes proporcionados.Cualquier manifestación por parte de ZIPP (en la
		página web de ZIPP o en los materiales de marketing de ZIPP) en el sentido de que dar
		una propina es “voluntario”, “no requerido”, y/o “incluido” en los pagos que realiza para los
		servicios o bienes proporcionados no pretende sugerir que ZIPP proporciona importes
		adicionales, aparte de los descritos anteriormente, al Tercero proveedor. Usted entiende y
		acepta que, mientras es libre de proporcionar un pago adicional como gratificación a
		cualquier Tercero proveedor que le proporcione servicios o bienes obtenidos mediante el
		Servicios, no tiene obligación de ello. Las gratificaciones son voluntarias. Después de que
		haya recibido los bienes o servicios obtenidos a través del Servicio, tendrá la oportunidad
		de calificar su experiencia y dejar comentarios adicionales sobre el Tercero proveedor.

			<br>
			<br>
			<strong>DECLARACIÓN DE ACEPTACIÓN DE TÈRMINOS Y CONDICIONES.</strong> 
			<br>
			El Usuario reconoce haber leído, y comprendido, el contenido íntegro de los Términos y
		Condiciones del ZIPP, declarando expresamente que al presionar el botón de “ACEPTO”,
		está de acuerdo y acepta el contenido de los mismos. Se entiende además que el Usuario
		también acepta los Términos y Condiciones de ZIPP al hacer uso de los servicios del
		mismo tales como Reservar o habilitar un Zona de permitido parqueo como Zona ZIPP.

		</p>
		<p><br></p>
		<p><br></p>
	</div>	
</div>
