
<div class="row-lg-12">
	<div class="header-tittle">
			<h1>{{tittle}}</h1>
	</div>
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Placa vehículo</th>
                <th>Fecha/Hora inicial</th>
                <th>Fecha/Hora final</th>
                <th>Tiempo total hh/mm/ss</th>         
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of reservazonas">
                <td>{{res.placa}}</td>
                <td>{{res.fecha_inicio}}</td>
                <td>{{res.fecha_final}}</td>
                <td>{{res.tiempo_total}}</td>
            </tr>
        </tbody>
    </table>
</div>
