
<div class="begin-page" [@routerTransition]>
    <section class="beginPadre">
      <div class="form-content" align="center">
        <div style="height: 150px; width: 120px;">
          <img class="logo-zipp2" src="assets/images/logo-zipp2.png" alt="..."> 
        </div>
	      <div style="width: 100%;">
          <h3>¿Que es ZIPP?</h3>
            <p>Conectamos los conductores de vehículos con las zonas inteligentes 
              de permitido parqueo (ZIPP) disponibles por medio de la economia colaborativa. </p>
            <p> ¡BUSCAMOS ZONAS ZIPP, COMUNÍCATE!</p>
        </div>
        <br>
        <div class="row">
          <input type="button" 
            value="REGISTRATE YA" 
            class="btn rounded-btn" 
            [routerLink]="['/login']"/>
        </div>
      </div>
    </section>
  
    <section style="width: 100%; align-content: center; background-color: #95ae00">
      <a href="https://www.facebook.com/zippoficial">
        <img  src="assets/images/fb.png" 
              style="height: 50px;
                     padding-left: 10px;
                     padding-right: 10px"> 
      </a>
      <a href="https://www.instagram.com/zippoficial">
        <img  src="assets/images/instagram.png" 
              style="height: 50px;
                     padding-left: 10px;
                     padding-right: 10px" >
      </a>
      <a href="tel:+573052902853">
        <img  src="assets/images/wzp.png" 
              style="height: 50px;
                     padding-left: 10px;
                     padding-right: 10px">
      </a>
  </section>  
  <section style="width: 100%; align-content: center; background-color: white">
    <img src="assets/images/fonemp.png" 
         style="height: 40px"> 
    <img src="assets/images/finade.png" 
         style="height: 40px" >
      
    <img src="assets/images/sena.png" 
         style="height: 40px">
    <img src="assets/images/colombia.png" 
         style="height: 40px">   
  </section>  
    
        
    
  
</div>

